
*.DS_Store
dataseries/*
venv/*
*.pyc
scripts/auth.json
scripts/auth_blue.json
scripts/auth_dev.json
scripts/check_google_auth.py
keys/hdx-data-series-ce3de3ecab39.json
keys/credentials.json
process_files/hdxMetaDataScrape_jul.json
process_files/hdxMetaDataScrape_aug.json
process_files/hdxMetaDataScrape.json
keys/auth.json
process_files/hdxMetaDataScrape_dataseries.json
cod-elevation_undo-1.csv
cod-elevation_undo.csv
cod-hydrology_undo.csv
cod-infrastructure_undo.csv
cod-popplaces_undo.csv
elevation.csv
hotosm-popplaces_undo.csv
output2process-1.csv
output2process-2.csv
output2process-3.csv
output2process.csv
scripts/5b_create_change_set_and_update.py
TEST.ipynb
HDX_data_series.code-workspace
LOCAL Notes.md
monthly_data_series/25-06-data_series_original.json
